<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mashauri</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    {% block extra_styles %}{% endblock %}
</head>

<body>
{% block main %}
{% endblock %}
<script src="{% static 'assets/js/main.js' %}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>

</html>