<!-- ========================= Main ==================== -->
 {% load static %}
 {% block extra_styles %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<style>
    .custom-select {
        display: inline-block;
        background: #46BD61;
        border: 1px solid #fff;
        color: #fff;
        font-size: 12px;
        position: relative;
        padding: 1px;
      }
      
      .custom-select:after {
        border-left: 1px solid #fff;
        content: '▼';
        display: block;
        width: 1.5em;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 5em;
      }
      
      .custom-select select {
        border: 0;
        color: #fff;
        background: transparent;
        padding: 1em 5em 1em 1em;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4em;
        line-height: 1.2em;
        cursor: pointer;
        transition: .2s all;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
      }
      
      .custom select select::-ms-expand {
        display: none;
      }
      
      .custom-select select:hover,
      .custom-select select:focus {
        outline: 0;
        background: #000;
        background: rgba(0,0,0,.5);
      }
      
      option {
        color: #fff;
        display: block;
        background: #000;
        line-height: 3.9em;
      }

      .expired {
            color: red;
            font-weight: bold;
        }

        #searchForm input[type=text], select {
          /* width:; */
          padding: 12px 20px;
          margin: 8px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-left: 1rem;
        }

      #searchForm input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

  #searchForm div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1rem;
  }
</style>
{% endblock %}
<div class="main">
    {% include '../partials/nav.html' %}
    <!-- ======================= Cards ================== -->
    <div class="cardBox">
        <div class="card" id="normalLink">
            <div>
                <div class="cardName">All Escalations</div>
                <div class="numbers"> {{ total_dispatches_all  }}</div>
            </div>
        </div>

        <div class="card"  id="active-link">
            <div>
                <div class="cardName">Active Escalations</div>
                <div class="numbers">{{ active_dispatches }}</div>
            </div>
        </div>
        <div class="card" id="expired-link">
            <div>
                <div class="cardName">SLA Breach</div>
                <div class="numbers">{{ breached }}</div>
            </div>
        </div>
        <div class="card" id="closed-link">
          <div>
              <div class="cardName">Closed Escalations</div>
              <div class="numbers">{{ closed_dispatches_count }}</div>
          </div>
      </div>
    </div>

    <form method="get" id="searchForm">
      <input type="text" name="q" id="" placeholder="Enter Search Term...">
      <input type="submit" value="Search">
    </form>

    <!-- ================ Order Details List ================= -->
    <div class="details">
        <div class="recentOrders" style="overflow: scroll;">
            <div class="cardHeader">
                <h2>Unclaimed Dispatches</h2>
                <a href="{% url 'dispatch' %}" class="btn">Dispatch</a>
            </div>

            <table id="data-table" style="overflow: scroll;">
                <thead>
                    <tr>
                        <td></td>
                        <td colspan="2">Sort BY:</td>
                        <td>
                          <div class="center-element">
                            <label for="escalation_type"><small>Escalation Type</small></label>
                            <span class="custom-select">
                              <select id="escalation_type">
                                  <option value="" selected>All</option>
                                  {% for value, label in dispatch_choices.escalation_type %}
                                      <option value="{{ value }}">{{ label }}</option>
                                  {% endfor %}
                              </select>
                            </span>
                          </div>
                        </td>
                        <td>
                          <div class="center-element">
                             <label for="escalation_type"><small>MSP</small></label>
                            <span class="custom-select">
                              <select id="msp">
                                  <option value="" selected>All</option>
                                  {% for value, label in dispatch_choices.msp %}
                                      <option value="{{ value }}">{{ label }}</option>
                                  {% endfor %}
                              </select>
                            </span>
                          </div>
                        </td>
                        <td>
                          <div class="center-element">
                             <label for="escalation_type"><small>FDP</small></label>
                            <span class="custom-select">
                             <select id="fdp">
                                <option value="" selected>All</option>
                                {% for value, label in dispatch_choices.fdp %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                            </span>
                          </div>
                        </td>
                         <td>
                          <div class="center-element">
                             <label for="escalation_type"><small>RP</small></label>
                            <span class="custom-select">
                             <select id="rp">
                                <option value="" selected>All</option>
                                {% for value, label in dispatch_choices.rp %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                            </span>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ticket</td>
                        <td>Client Name</td>
                        <td>CI</td>
                        <td>Builing Name</td>
                        <td>Escalation Type</td>
                        <td>MSP</td>
                        <td>FDP</td>
                        <td>RP</td>
                        <td>Created In</td>
                        <td>SLA</td>
                        <td>Time Remaining</td>
                        <td>Status</td>
                        <td>Details</td>
                    </tr>
                </thead>

                <tbody>
                    {% for dispatch in dispatches %} 
                    {% if searched != True %}
                    <tr data-status="{{ dispatch.status }}">
                        <td><a href="{{ MEDIA_URL }}{{ dispatch.ticket.name }}" target="_blank" style="color: #1795ce; font-weight: bolder;">{{ dispatch.ticket.name }}</a></td>
                        <td>{{ dispatch.client_name }}</td>
                        <td>{{ dispatch.client_id }}</td>
                        <td>{{ dispatch.building_name }}</td>
                        <td class="escalation-type">{{ dispatch.escalation_type }}</td>
                        {% if dispatch.msp %}
                          <td class="msp">{{ dispatch.msp }} </td>
                        {% else %}
                          <td class="msp">{{ dispatch.reassign_to }} - {{ dispatch.ec }}</td>
                        {% endif %}
                        <td class="fdp">{{ dispatch.fdp }}</td>
                        <td class="rp">{{ dispatch.rp }}</td>
                        <td>{{ dispatch.created_at }}</td>
                        <td>{{ dispatch.sla_timer }}</td>
                        {% if dispatch.status != "Closed" %}
                            <td class="time-remaining">{{ dispatch.time_remaining_display }}</td>
                        {% else %}
                            <td>{{ dispatch.closure_message }}</td>
                        {% endif %}
                        <td>
                          {% if dispatch.status == 'Closed' %}
                              <span style="color: green;">  {{ dispatch.closed_time_display }} </span>
                          {% else %}
                              {{ dispatch.status }}
                          {% endif %}
                      </td>
                      <td>
                        <a href="{% url 'rp_dispatch_detail' dispatch.pk %}"
                          style="text-decoration: none; color: cyan">
                            Details
                        </a>
                      </td>
                    </tr>
                    {% elif searched == True %}
                      <tr>
                        <td><a href="{{ MEDIA_URL }}{{ dispatch.ticket.name }}" target="_blank" style="color: #1795ce; font-weight: bolder;">{{ dispatch.ticket.name }}</a></td>
                        <td>{{ dispatch.client_name }}</td>
                        <td>{{ dispatch.client_id }}</td>
                        <td>{{ dispatch.building_name }}</td>
                        <td class="escalation-type">{{ dispatch.escalation_type }}</td>
                         {% if dispatch.msp %}
                          <td class="msp">{{ dispatch.msp }} </td>
                        {% else %}
                          <td class="msp">{{ dispatch.reassign_to }} - {{ dispatch.ec }}</td>
                        {% endif %}
                        <td class="fdp">{{ dispatch.fdp }}</td>
                        <td class="rp">{{ dispatch.rp }}</td>
                        <td>{{ dispatch.created_at }}</td>
                        <td>{{ dispatch.sla_timer }}</td>
                        {% if dispatch.status != "Closed" %}
                            <td class="time-remaining">{{ dispatch.time_remaining_display }}</td>
                        {% else %}
                            <td>{{ dispatch.closure_message }}</td>
                        {% endif %}
                        <td><span class="status {{dispatch.status}}">{{ dispatch.status }}</span></td>
                       <td>
                          <a href="{% url 'rp_dispatch_detail' dispatch.pk %}"
                            style="text-decoration: none; color: cyan">
                              Details
                          </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<a href="{% url 'presentation' %}">Presentation</a>
{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
document.querySelectorAll('#escalation_type, #msp, #fdp, #rp').forEach(select => {
    select.addEventListener('change', filterTable);
});

function filterTable() {
    let escalationType = document.getElementById('escalation_type').value.trim();
    let msp = document.getElementById('msp').value.trim();
    let fdp = document.getElementById('fdp').value.trim();
    let rp = document.getElementById('rp').value.trim();

    let rows = document.querySelectorAll('#data-table tbody tr');

    rows.forEach(row => {
        let rowEscalationType =
            row.querySelector('.escalation-type')?.textContent.trim() || '';

        let rowMsp =
            row.querySelector('.msp')?.textContent.trim() || '';

        let rowFdp =
            row.querySelector('.fdp')?.textContent.trim() || '';

        let rowRp =
            row.querySelector('.rp')?.textContent.trim() || '';

        let escalationTypeMatch =
            (escalationType === '' ||
             rowEscalationType.toLowerCase() === escalationType.toLowerCase());

        let mspMatch =
            (msp === '' ||
             rowMsp.toLowerCase() === msp.toLowerCase());

        let fdpMatch =
            (fdp === '' ||
             rowFdp.toLowerCase() === fdp.toLowerCase());

        let rpMatch =
            (rp === '' ||
             rowRp.toLowerCase() === rp.toLowerCase());

        if (
            escalationTypeMatch &&
            mspMatch &&
            fdpMatch &&
            rpMatch &&
            row.getAttribute('data-status') !== 'Closed'
        ) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
}


  const tds = document.querySelectorAll('td');

  tds.forEach(td => {
      if (td.textContent.trim().startsWith('Expired')) {
          td.classList.add('expired');
      }
  });





document.getElementById('expired-link').addEventListener('click', function(e) {
  e.preventDefault();
  let rows = document.querySelectorAll('#data-table tbody tr');
  rows.forEach(row => {
    let timeRemaining = row.querySelector('.time-remaining').textContent.trim().startsWith('Expired');
    if (timeRemaining) {
      let matchingRows = document.querySelectorAll(`#data-table tbody tr[data-status="Progress"]`);
      matchingRows.forEach(row => {
        row.style.display = '';
       });
    } else {
        row.style.display = 'none';
    }
  });
});

document.getElementById('active-link').addEventListener('click', function(e) {
  e.preventDefault();
  let rows = document.querySelectorAll('#data-table tbody tr');
  rows.forEach(row => {
      row.style.display = 'none';
  });
  let closedDispatches = JSON.parse('{{ closed_dispatches_json|escapejs }}');  // Safely render and parse
  console.log(closedDispatches)
  closedDispatches.forEach(dispatch => {
    let matchingRows = document.querySelectorAll(`#data-table tbody tr[data-status="Progress"]`);
    matchingRows.forEach(row => {
        row.style.display = '';  // Show the row
    });
  });
});

// Function to hide/show rows based on data-status="Closed"
function handleRowsVisibility() {
  let rows = document.querySelectorAll('#data-table tbody tr');
  rows.forEach(row => {
    console.log(row);
    if (!row.hasAttribute('data-status') || row.getAttribute('data-status') !== 'Closed') {
      row.style.display = ''; // Show non-closed rows
    } else {
      row.style.display = 'none'; // Hide closed rows
    }
  });
}

// Run on page load
document.addEventListener('DOMContentLoaded', function() {
  handleRowsVisibility();  // Call the function when the page loads
});

// Run on click of the 'normalLink'
document.getElementById('normalLink').addEventListener('click', function(e) {
  e.preventDefault();
  handleRowsVisibility();  // Call the same function on click
});


document.getElementById('closed-link').addEventListener('click', function(e) {
  e.preventDefault();
  let rows = document.querySelectorAll('#data-table tbody tr');
  rows.forEach(row => {
      row.style.display = 'none';
  });

  let closedDispatches = JSON.parse('{{ closed_dispatches_json|escapejs }}');  // Safely render and parse
  console.log(closedDispatches)
  closedDispatches.forEach(dispatch => {
    let matchingRows = document.querySelectorAll(`#data-table tbody tr[data-status="Closed"]`);
    matchingRows.forEach(row => {
        row.style.display = '';  // Show the row
    });
  });
});


</script>

{% endblock %}