{% extends '../partials/base.html' %}
{% block main %}
<!-- ========================= Main ==================== -->
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<style>
   .custom-select {
       display: inline-block;
       background: #46BD61;
       border: 1px solid #fff;
       color: #fff;
       font-size: 12px;
       position: relative;
       padding: 1px;
     }
     
     .custom-select:after {
       border-left: 1px solid #fff;
       content: '▼';
       display: block;
       width: 1.5em;
       height: 100%;
       position: absolute;
       right: 0;
       top: 0;
       line-height: 5em;
     }
     
     .custom-select select {
       border: 0;
       color: #fff;
       background: transparent;
       padding: 1em 5em 1em 1em;
       letter-spacing: 1px;
       font-family: 'Roboto', sans-serif;
       font-size: 1.4em;
       line-height: 1.2em;
       cursor: pointer;
       transition: .2s all;
       border-radius: 0;
       -webkit-appearance: none;
       -moz-appearance: none;
       -ms-appearance: none;
       appearance: none;
     }
     
     .custom select select::-ms-expand {
       display: none;
     }
     
     .custom-select select:hover,
     .custom-select select:focus {
       outline: 0;
       background: #000;
       background: rgba(0,0,0,.5);
     }
     
     option {
       color: #fff;
       display: block;
       background: #000;
       line-height: 3.9em;
     }

     .expired {
           color: red;
           font-weight: bold;
       }

       #searchForm input[type=text], select {
         /* width:; */
         padding: 12px 20px;
         margin: 8px 0;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-sizing: border-box;
         margin-left: 1rem;
       }

     #searchForm input[type=submit] {
       background-color: #4CAF50;
       color: white;
       padding: 14px 20px;
       margin: 8px 0;
       border: none;
       border-radius: 4px;
       cursor: pointer;
     }

     input[type=submit]:hover {
       background-color: #45a049;
     }

 #searchForm div {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 1rem;
 }

 div.numbers {
    font-size: 1.5rem !important;
 }
</style>
{% endblock %}
<div class="main">
   {% include '../partials/nav.html' %}
   <div class="cardBox">
    <div class="card" id="">
        <div>
            <div class="cardName">Reactive & Interception Average SLA</div>
            <div class="numbers"> {{ Reactive_Interception }}</div>
        </div>
    </div>

    <div class="card"  id="">
        <div>
            <div class="cardName">Optimization Average SLA</div>
            <div class="numbers">{{ Optimization }}</div>
        </div>
    </div>
    <div class="card" id="">
        <div>
            <div class="cardName">Proactive</div>
            <div class="numbers">{{ Proactive }}</div>
        </div>
    </div>
    <div class="card" id="">
      <div>
          <div class="cardName">Support</div>
          <div class="numbers">{{ Support }}</div>
      </div>
  </div>

   <div class="card" id="">
      <div>
          <div class="cardName">OTB</div>
          <div class="numbers">{{ OTB }}</div>
      </div>
  </div>

</div>
</div>
{% endblock %}
