{% extends '../partials/base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/menu.css' %}">
{% endblock %}
{% block main %}
{% include '../partials/nav.html' %}
<h1>Graphical Representation of Mashauri Data</h1>
<div id="plotly_chart" class="container-fluid">
    <div class="row">
        <div class="col"> {{ plot_div|safe }} </div>
        <div class="col"> {{plot_div_msp|safe}}</div>
    </div>
    <div class="row">
        <div class="col">{{plot_div_fdp|safe}}</div>
        <div class="col">{{plot_div_esc|safe}}</div>
    </div>
    <!-- Render the Plotly chart -->
    <div class="row">
        <!-- Add SLA Chart -->
        <div class="col"> {{ plot_div_sla|safe }} </div>
    </div>
</div>
    {% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'assets/js/menu.js' %}"></script>
    {% endblock %}
{% endblock %}